h1 {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.button {
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(32, 23, 85);
}

.href-style-text {
    display: flex;
	justify-content: center;
	align-items: center;
    color: rgb(255, 255, 255);
}